# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.opensdf
csc215/CSC215/CSC215.sdf
*.suo
*.tlog
csc215/CSC215/CSC215/Debug/main.obj
*.exe
csc215/CSC215/CSC215/Debug/CSC215.Build.CppClean.log
*.obj
*.pdb
csc215/CSC215/Debug/CSC215.ilk
*.log
csc215/CSC215/CSC215/Debug/vc120.idb
*.ilk
csc215/ASCIITree/ASCIITree/Debug/vc120.idb
*.sdf
*.sln
*.idb
csc215/Arrays/Debug/Arrays.exp
csc203/playground/.metadata/*
csc203/playground/playground/.settings/*
